/* 1. Centrado total del formulario en la pantalla */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  background-color: #171717;
  font-family: sans-serif;
}

/* 2. Estilo del contenedor del formulario */
#form {
  width: 550px; /* Ancho fijo para que no se deforme */
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 30px;
  background: rgb(41, 41, 41);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.293); /* Sombra para dar profundidad */
  border: solid 1px rgb(57, 57, 57);
  gap: 0px;
}


label {
  padding-top: 10px;
    font-size: 14px;
    padding-bottom: 2px;
        font-family: "Lexend", sans-serif;
    color: #ccc;
    font-weight: 400;
}

h1 {
    margin-top: 0;
    font-family: "Lexend", sans-serif;
  text-align: center;
  margin-bottom: 0;
  color: #ebebeb;
  font-weight: 600;
}

/* 3. Acomodo de los inputs */
.input-div {
  width: 100%;
  margin-bottom: 3px;
  display: flex;
  flex-direction: column;
}

select {
  background: #525252;
  color: #cdcdcd;
  font-size: 15px;
  width: 100%;
  padding: 12px;
  border: 1px solid #1660c8;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}

input {
  background: #525252;
  color: #e9ecef;
  font-size: 15px;
  width: 95%;
  padding: 12px;
  border: 1px solid #1660c8;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}

.input-phone {
  display: flex;
  gap: 18px;
  align-items: center;
  width: 100%;
  
}

#information-phone {
  font-size: 12px;
  color: #d3d3d3;
  margin-top: 5px; /* Espacio respecto al input */
  margin-bottom: 0;
  display: none;
}

#phone-code {
border: 1px solid #1660c8;
  background: #525252;
  padding: 10px;
  border-radius: 8px;
  min-width: 60px;
  text-align: center;
  font-weight: bold;
  color: #e9ecefde;
  font-family: "Lexend", sans-serif;
}

/* 5. Textos de información */
.information {
  display: none;
  font-size: 12px;
  color: #d3d3d3;
  margin-top: 5px;
  margin-bottom: 0;
  flex-direction: column;
}

/* 6. Estilo del botón */
.boton {
  background-color: #004997;
  color: white;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s;
  margin-top: 10px;
  border: #004997 2px solid;
}

.boton:hover {
  background-color: #0056b3;
}

.true {
  outline: 2px solid green;
}

.false {
  outline: 2px solid red;
}

.show-information {
  display: block;
}

@media (max-width: 600px) {
  #form {
    width: 75%;
  }
}